/* set some defaults */

html, body { height: 100%;}
body, h1, h2 {margin: 0;}

h1, h2 {text-align: center;}

/* main wrappers */

header { height: 8%; background: lightyellow; }
main   { height: 92%; background: lightgrey;}

ul, li {margin: 0; padding: 0;}

nav#menu_app {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
nav#menu_POI {
  position: fixed;
  z-index: 10;
  left: 50px;
  top: 50px;
}
div#map      { height: 100%; width: 100%;}
div#scene {
  position: fixed;
  margin-left: 23.33%;
  height: 100%;
  width: 76.66%;
  background: lightgrey;
  display: none;
}
#scene iframe {width: 100%; height: 100%;}

/* other elements and tiny bits */

button { height: 100%; width: 15%; display: inline;}

#menu_POI button { width: 100%; }

h2 { 
  width: 100%; 
  height: 2em; 
}

#pi-list li {
 display: block;
 width: 60%;
 margin: auto;
 height: 25px;
}
#pi-list li button { 
  text-decoration: none;
  text-align: center;
  padding: 5px;
  padding-left: 15px;
  background: none;
  border: none;
}
#pi-list li button:hover {
  border: solid lightgrey 1px;
  border-radius: 20px;
  box-shadow: lightyellow 0 0 10px;
}

/* map overlays */

.marker {width:0; height:0;}
.marker  span {
 display:flex;
 justify-content:center;
 align-items:center;
 box-sizing:border-box;
 width:  30px;
 height: 30px;
 color:#fff;
 background: #f26d51;
 border:solid 2px;
 border-radius: 0 70% 70%;
 box-shadow:0 0 2px #000;
 cursor: pointer;
 transform-origin:0 0;
 transform: rotateZ(-135deg);
 font-size: 1.5em;
}
.marker b { transform: rotateZ(135deg) }

.mapboxgl-popup {
 max-width: 200px;
}
.mapboxgl-popup-content {
 text-align: center;
 font-family: 'Open Sans', sans-serif;
}